h1 {
	font-size: 30px;
	background-color: red;
}

#gameInstructions {
	background-color: yellow;
}

.jewel {
	float: left;
	display: block;
}

/*set the size of the buttons (or attempt to set their size)*/
#jewelOne, 
#jewelTwo,
#jewelThree, 
#jewelFour {
	height: 100px;
	width: 100px;
}

button img {
	width: 100%;
}