h1 {
	font-size: 30px;
	background-color: red;
}

#gameInstructions {
	background-color: yellow;
}

/*set the size of the buttons (or attempt to set their size)*/
#jewelOne, 
#jewelTwo, 
#jewelThree, 
#JewelFour {
	height: 100px;
	width: 100px;
}