.page-wrapper{
	background-color: black;
}

.wrapper {
	position: relative;
/*this is my clearfix*/
	overflow: hidden;
}

.background {
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/e8/fe/fd/e8fefdc3dee55ae89630c289e89100dd.jpg);
	opacity: 0.5;
	background-color: black;
	background-repeat:no-repeat;
	background-size:cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#scoreBoard {
	font-size: 24px;
	color: white;
}
#header {
	font-family: 'Arbutus Slab', serif;
	font-size: 50px;
	text-align: center;
	color: rgb(224,224,252);
	width: span;
	/*float: left;*/
}

#gameInstructions {
	font-size: 20px;
	text-align: left;
	width: 50%;
}

p {
	font-family: 'Arbutus Slab', serif;
	color: rgb(224,224,252);
}


.jewel {
	float: left;
	display: block;
}

/*set the size of the buttons*/
#jewelOne, 
#jewelTwo,
#jewelThree, 
#jewelFour {
	height: 100px;
	width: 100px;
}

button img {
	width: 100%;
}


#totalScoreIsMessage {
	font-size: 20px;
}